{% extends 'base.html' %}

{% block title %}Регистрация нового пользователя{% endblock %}

{% block content %}
<br><br>
<h2>Регистрация нового пользователя</h2>
    <form method="post">
        <input type="text" name="username" placeholder="Логин" required><br><br>
        <input type="text" name="first_name" placeholder="Имя" required><br><br>
        <input type="text" name="last_name" placeholder="Фамилия" required><br><br>
        <input type="email" name="email" placeholder="Email" required><br><br>
        <input type="date" name="birth_date"><br><br>
        <input type="password" name="password" placeholder="Пароль" required><br><br>
        <input type="password" name="confirm_password" placeholder="Подтверждение пароля" required><br><br>
        <button type="submit">Зарегистрироваться</button><br><br>
    </form>
<br><br>
{% endblock %}