{% extends 'base.html' %}

{% block title %}Список пользователей{% endblock %}

{% block content %}
<br><br>
    <h2>Список пользователей</h2>
    <table>
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Email</th>
                <th>Дата рождения</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.birth_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<br><br>
{% endblock %}