<!DOCTYPE html>
{% load static %}
<html>
	{% block head %}
<head>

	<title>{{title}}</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
	<link rel="shortcut icon" href="css/images/favicon.ico" />
</head>
	{% endblock %}
<body>

<div class="shell">
	<div class="border">
		{% block navigation %}
		<div id="navigation">
			<ul>
			    <li><a href="{% url 'home' %}" class="active">Главная</a></li>
				<li><a href="{% url 'register' %}" >Регистрация</a></li>
				<li><a href="{% url 'login' %}" >Вход</a></li>
			    <li><a href="{% url 'users_list' %}" >Список пользователей</a></li>
				<li><a href="{% url 'image_gallery' %}" >Изображения</a></li>
                <li> {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                     <button type="submit">Выйти</button>
                    </form>
                 {% endif %}</li>
			</ul>
		</div>
		{% endblock %}
		<br><br>
		{% block content %}

		{% endblock %}
	<br>
	</div>
	{% block footer%}
	<div id="footer">
		<p class="copy right">Copyright &copy;  2025 </p>
	</div>
	{% endblock %}
</div>
</body>
</html>